body {
  height: 105vh;
}

.headcalc {
  position: fixed;
  width: 99%;
  height: 200px;
  background-color: rgb(70, 70, 246);
}

.calc {
  color: white;
  font-size: 60px;
  text-align: center;
}

.calculator {
  position: relative;
  top: 251px;
  max-width: 500px;
  min-height: 100px;
  background-color: red;
  margin: auto;
}

.row {
  display: flex;
}

.row > *{
  flex-basis: 100%;
}

.inp-properties {
  position: absolute;
  height: 120px;
  width: 596px;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
}

.num1 {
  /* bottom: 240px;
  left: 0; */
}

.num2 {
  /* bottom: 240px;
  left: 150px; */
}

.num3 {
  /* bottom: 240px;
  left: 300px; */
}

.minus {
  /* bottom: 240px;
  right: 0; */
}

.num4 {
  /* bottom: 360px;
  left: 0; */
}

.num5 {
  /* bottom: 360px;
  left: 150px; */
}

.num6 {
  /* bottom: 360px;
  left: 300px; */
}

.plus {
  /* bottom: 120px;
  right: 0; */
}

.clear {
  /* bottom: 120px;
  left: 0; */
}

.num0 {
  /* bottom: 120px;
  left: 150px; */
}

.dot {
  /* bottom: 120px;
  left: 300px; */
}

.multiply {
  /* bottom: 360px;
  right: 0; */
}

.num7 {
  /* bottom: 480px;
  left: 0; */
}

.num8 {
  /* bottom: 480px;
  left: 150px; */
}

.num9 {
  /* bottom: 480px;
  left: 300px; */
}

.divide {
  /* bottom: 480px;
  right: 0; */
}

.result {
  /* position: absolute;
  width: 600px;
  height: 100px;
  bottom: 0;
  left: 0; */
  font-size: 30px;
  font-weight: bold;
  border: 1px solid black;
}

.properties {
  /* position: absolute; */
  /* width: 32%; */
  height: 120px;
  font-size: 30px;
  font-weight: bold;
}

.delite {
  /* top: 0;
  right: 0; */
}

.flex-parent {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-item {
  padding: .5em;
  background: #efefef;
  border: 3px solid #333;
}
